/* Main section */
main {
    margin: 5rem; /* Espaciado más adaptable */
  }
  
  .contact-section {
    text-align: center;
    font-weight: bold;
    color: black !important;
  }
  
  /* Sección de contacto */
  .section-contact {
    padding: 10px;
    font-size: 1rem; /* Usar unidades relativas */
  }
  
  .info-box {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .info-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 0;
  }
  
  h2 {
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
  }
  

  
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 576px) {
    main {
      margin: 20px;
      padding: 15px;
    }
  
    .section-contact {
      font-size: 0.875rem; /* Ajuste de tamaño */
    }
  
    .info-box {
      padding: 15px;
    }
  
    .info-box img {
      width: 40px;
      height: 40px;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media (min-width: 576px) and (max-width: 768px) {
    .info-box {
      padding: 15px;
    }
  
    .info-box img {
      width: 45px;
      height: 45px;
    }
  }
  
  .Contacto{
    text-align: center;
  }
