/* Estilos del contenedor del detalle del producto */
.product-detail {
    display: flex; /* Diseño en dos columnas */
    justify-content: space-between; /* Espacio entre columnas */
    margin-bottom: 40px; /* Espacio debajo del contenedor para separar del footer */
}

.product-image {
    max-width: 100%; /* Imagen no excede el ancho del contenedor */
    height: auto; /* Mantiene la proporción */
}

/* Contenedor de información */
.info-container {
    flex: 1; /* Ocupa el resto del espacio disponible */
    padding-left: 20px; /* Espacio a la izquierda */
}

/* Contenedor de la imagen */
.image-container {
    display: flex;
    flex-direction: column; /* Imagen y botón en columna */
    align-items: center; /* Centra contenido horizontalmente */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
    width: 55%;
}

/* Botón Agregar al Carrito */
.btn-add-to-cart {
    margin-top: 10px; /* Espacio entre imagen y botón */
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave */
}

.btn-add-to-cart:hover {
    background-color: #333; /* Color al pasar el mouse */
}

/* Título */
h2 {
    font-size: 2em; /* Tamaño del título */
    text-transform: uppercase; /* Todo en mayúsculas */
    justify-content: flex-start;
}

/* Estilos para las reseñas */
.user-reviews h3 {
    font-size: 1em; /* Tamaño de la fuente de reseñas */
}

ul {
    list-style-type: none; /* Sin puntos en la lista */
    padding: 0; /* Quita el padding */
}

ul li p {
    font-style: italic; /* Texto cursivo para las reseñas */
}

/* Separación de la sección de reseñas */
.user-reviews {
    margin-top: 30px; /* Espacio encima de la sección de reseñas */
}
