/* Estilos generales para el contenedor del detalle del producto */
.product-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.info-container {
    flex: 1;
    padding-left: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 55%;
}

.btn-add-to-cart {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-to-cart:hover {
    background-color: #333;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    justify-content: flex-start;
}

.user-reviews h3 {
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li p {
    font-style: italic;
}

.user-reviews {
    margin-top: 10rem;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    .product-detail {
        flex-direction: column; 
        align-items: center;
    }

    .image-container, .info-container {
        width: 100%;
        padding-left: 0; 
    }

    .btn-add-to-cart {
        width: 100%; 
        text-align: center;
    }

    .user-reviews ul {
       
        display: flex;
        flex-direction: column; 
        width: 100%; 
    }

    .user-reviews ul li {
        width: 100%; 
        padding-bottom: 2rem;
    }
}
