/* Estilos para las tarjetas de productos */
.product-card {
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s, box-shadow 0.2s; /* Transiciones suaves */
    
    text-align: center; /* Alinear texto al centro */
}

.product-card img {
    width: 19rem;
    background-color: #ffffff;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de la tarjeta */
    border-radius: 4px; /* Bordes redondeados para las imágenes */
    margin-bottom: 10px; /* Espaciado debajo de la imagen */
}

.product-card h2 {
    font-size: 1.2em; /* Tamaño de fuente para el título */
    color: #343a40; /* Color del texto */
    margin: 10px 0; /* Espaciado arriba y abajo del título */
    padding-bottom: 100px; /* Espacio debajo del título */
}
.product-card h3 {
    font-size: 1.3em; /* Tamaño de fuente para el título */
    color: #136cc0; /* Color del texto */
    margin: 10px 0; /* Espaciado arriba y abajo del título */
}


/* Efecto de hover en las tarjetas */
.product-card:hover {
    transform: translateY(-5px); /* Eleva la tarjeta ligeramente al pasar el mouse */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en hover */
    text-decoration: none;
}

/* Botón dentro de la tarjeta */
.product-card .btn {
   
    text-decoration: none; /* Sin subrayado */
}


.product-card .btn:hover {
    color: #0056b3; /* Cambia el color al pasar el mouse */
    text-decoration: none;
}

.btn-add {
    background-color: #000; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado dentro del botón */
    font-size: 1em; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cursor en forma de mano */
    border-radius: 0.4rem;

}
.btn-add:hover {
    background-color: #b31414; /* Color de fondo del botón */
}

/* Agregar un margen superior en el select (styled-select) para separar el combo del título */
.styled-select {
    margin-top: 20px; /* Agregar un margen superior para separar el combo del título */
    margin-bottom: 1.2rem;
    width: 210px; /* Ancho */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    appearance: none; /* Elimina el estilo por defecto del navegador */
    background-image: url('path/to/arrow-icon.png'); /* Añadir un icono para la flecha */
    background-repeat: no-repeat; /* No repetir el icono */
    background-position: right 10px center; /* Posicionar el icono */
    background-size: 10px; /* Tamaño del icono */
}



.accordion-item {
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-accordion-button {
    
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0;
    padding: 15px;
    text-align: left;
    transition: background-color 0.3s ease;
}
h2 .custom-accordion-button{
    font-size: 1.4rem;
}

.custom-accordion-button:hover,
.custom-accordion-button:not(.collapsed) {
    background-color: #000;
    color: #fff;
}

.custom-accordion-body {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
}

/* Estilos para el select con ID categorySelect */
#categorySelect.styled-select {
    margin-bottom: 1.2rem;
    width: 210px; /* Ancho */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    appearance: none; /* Elimina el estilo por defecto del navegador */
  
    background-position: right 10px center; /* Posicionar el icono */
    background-size: 10px; /* Tamaño del icono */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6), -3px -3px 5px rgba(179, 20, 20, 0.6); /* Sombra roja y negra */
    transition: all 0.3s ease;
}

/* Cambiar el color al hacer hover sobre el select */
#categorySelect.styled-select:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8), -4px -4px 8px rgba(179, 20, 20, 0.8); /* Sombra más intensa al pasar el ratón */
    border-color: #b31414; /* Borde rojo al pasar el mouse */
}
