// 1. Definición de Variables
$primary-color: #7e0fff;
$secondary-color: #0fffc1;
$background-color: #151823;
$dark-background-color: darken($background-color, 4%); // Utiliza darken aquí

// 2. Definición del Mixin
@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    filter: blur($spread);
    background: linear-gradient(300deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

// 3. Estilos Generales
* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  background-color: $dark-background-color; // Cambia aquí
}

// 4. Estilos para el div principal
div {
  position: relative;
  width: 30vw;
  height: 30vw;
  line-height: 30vw;
  text-align: center;
  color: $primary-color; // Cambia aquí si quieres otro color para el texto
  background-color: $background-color;
  animation: textColor 10s ease infinite;

  @include backlight(0, 5vw, 5vw, 0.75, $secondary-color, $primary-color, 10s);

  @keyframes textColor {
    0% {
      color: $primary-color;
    }
    50% {
      color: $secondary-color;
    }
    100% {
      color: $primary-color;
    }
  }
}
