/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
/* Contenedor del menú hamburguesa */
.hamburger {
    position: fixed;
    cursor: pointer;
    font-size: 30px;

    right: 20px;
    top: 20px;
    z-index: 1000;
    filter:drop-shadow( 0 0 10px rgba(0, 0, 0, .8))
}

.menu {
    position: fixed;
    top: 0;
    right: -250px; /* Empieza fuera de la pantalla */
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 999;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
}

.menu ul li a:hover {
    background-color: #555;
}

/* Cuando el menú está activo, se desplaza hacia la pantalla */
.menu.open {
    right: 0;
}
/* Estilo para mostrar/ocultar el menú */
.menu {
    display: none;
}

.menu.open {
    display: block;
}

.contact-buttons a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
}
/* Container */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header */
header {
    background: rgb(14,14,14);
background: linear-gradient(95deg, rgb(16, 15, 15) 10%, rgb(155, 153, 153) 76%, rgb(21, 20, 20) 90%);
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
}
.logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
}
header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.0em;
    margin-top: 0.5em;
}

/* Contenedor para los botones de contacto */
/* Contenedor para los botones de contacto */
.contact-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 80%; /* Limita el ancho total del contenedor de botones */
    margin-left: auto;
    margin-right: auto;
}

/* Ajuste para los botones en porcentajes */
.contact-buttons a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 26%; /* El ancho de cada botón es del 22% del contenedor */
    font-size: 5vw; /* El tamaño del icono se ajusta al ancho de la pantalla */
    padding: 4%; /* El padding también es en porcentaje */
    border-radius: 10%;
    text-align: center; /* Centra el contenido dentro del botón */
    margin: 3%;
}

/* Estilos específicos para cada botón */
.btn-whatsapp {
    background-color: #25D366; /* Verde de WhatsApp */
}

.btn-telefono {
    background-color: #7d7d7d; /* Azul */
}

.btn-correo {
    background-color: #b3190b; /* Rojo */
}

.btn-instagram {
    background-color: #ffa500;/* Rosa Instagram */
}

/* Estilos generales para los botones */
.contact-buttons a:hover {
    opacity: 0.8;
    transition: 0.3s;
}

/* Media Query para pantallas grandes */
@media (min-width: 600px) {
    .contact-buttons a {
        width: 65px; /* Tamaño fijo para los botones en pantallas grandes */
        height: 65px; /* Tamaño fijo para los botones en pantallas grandes */
        font-size: 28px; /* Tamaño del icono fijo */
        padding: 10px; /* Padding fijo */
        margin: 5px; /* Espacio entre los botones */
    }
}

.fondo-agendar {
    background-image: url('/imgs/1337-c2803d6c-7160-11ef-a580-22091eb7342f.png');
    background-size: cover;  /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    padding: 20% 0;  /* Espacio alrededor del contenido dentro de la sección */
    color: white;  /* Cambia el color del texto a blanco para mejor visibilidad */
    text-align: center;  /* Centra el contenido dentro de la sección */
}

header nav ul {
    list-style: none;
    margin-top: 1em;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}



/* Contenedor principal */
#servicios .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.service {
    opacity: 0; 
    transform: translateY(25px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.service-visible {
    opacity: 1; 
    transform: translateY(0); 
}


.service:last-of-type {
    border-bottom: none;
}

.btn-right{
    float: right;
}
/* Título */
#servicios h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #333;
}

/* Flexbox para alinear las cards */
#servicios .services {
    display: flex;
    gap: 20px; /* Espacio entre cards */
    justify-content: center; /* Centra las cards */
    flex-wrap: wrap; /* Permite que las cards se ajusten en varias filas */
}

/* Estilos de las cards */
#servicios .service {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin-bottom: 20px;
    width: calc(50% - 20px); /* Dos cards por fila */
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover para las cards */
#servicios .service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15), 0 15px 25px rgba(0, 0, 0, 0.1);
}

/* Imagen dentro de las cards */
#servicios .service img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Títulos y párrafos */
#servicios .service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

#servicios .service p {
    font-size: 1em;
    color: #666;
}

/* Responsive: una card por fila en pantallas más pequeñas */
@media (max-width: 768px) {
    #servicios .service {
        width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    }
}


/* Testimonios */
#testimonios {
    background-color: #ecf0f1;
    padding: 3em 0;
}

#testimonios h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.testimonial {
    margin-bottom: 1.5em;
    text-align: center;
}

.testimonial p {
    font-size: 1.2em;
    color: #34495e;
    font-style: italic;
}

/* Contacto */
#contacto {
    background-color: #fff;
    padding: 3em 0;
}

#contacto h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

#contacto p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2em;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #27ae60;
    border: none;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2ecc71;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-float i {
    margin-top: 16px;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    color: white;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
}

footer p {
    font-size: 1em;
}
